@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Address the compass changes below */
:root {
  --foreground-rgb: 30, 30, 30; /* Dark Gray for text */
  --background-start-rgb: 18, 40, 63; /* compass-blue but darker */
  --background-end-rgb: 15, 30, 47; /* Change to compass-blue */
  --system-text-color: #f6efec; /* Light Gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--foreground-rgb: 224, 224, 224; !* Soft White for text *!*/
    /*--background-start-rgb: 18, 18, 18; !* Near Black *!*/
    /*--background-end-rgb: 30, 30, 30; !* Dark Gray *!*/
    /*--system-text-color: #fafafa; !* Soft Blue *!*/
    --foreground-rgb: 0, 0, 0; /* Dark Gray for text */
    --background-start-rgb: 18, 18, 18; /* Near Black */
    --background-end-rgb: 30, 30, 30; /* Change to compass-blue */
    --system-text-color: #f6efec; /* Light Gray */
  }
}

.modal-backdrop {
  opacity: 0;
  animation: backdropFadeIn 0.4s ease forwards;
}

.modal-entrance {
  opacity: 0;
  transform: scale(0.95);
  animation: modalEntrance 0.4s ease forwards;
}

/* TODO: Double check if this is needed */
@keyframes backdropFadeIn {
  to {
    opacity: 1;
  }
}

@keyframes modalEntrance {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
