.Container ul {
  grid-template-columns: repeat(var(--columns, 1), 1fr);
}

.Container.horizontal ul {
  grid-auto-flow: column;
}

.Container:focus-visible {
  border-color: transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0px 0px 2px #4c9ffe;
}
