.Action svg {
  @apply block mx-auto overflow-visible fill-white;
}

@media (hover: hover) {
  .Action:hover {
    background-color: var(--action-background, rgba(0, 0, 0, 0.05));
  }

  .Action:hover svg {
    fill: var(--action-fill, #ffffff);
  }
}

.Action:active {
  background-color: var(--action-background, rgba(0, 0, 0, 0.05));
}

.Action:active svg {
  fill: var(--action-fill, #ffffff);
}
